@import "../../../assets/scss/variables.scss";
.background {
  height: 100vh;
  background: $backgroundColor;
}

.formWrapper {
  width: 500px;
}

.stepsWrapper {
  padding: 25px;
  width: 100%;
}

.stepNumberWrapper {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
}

.stepNumber {
  font-size: $font-16;
  text-align: center;
  color: $primaryColor;
}

.stepDescription {
  font-size: $font-20;
  text-align: left;
  color: $primaryColor;
}
