@import "../../assets/scss/variables.scss";

.background {
  width: 100%;
  background: $white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.communityName {
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: $primaryColor;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $primaryColor;
  cursor: pointer;
}

.dropdown_body {
  width: 250px;
}

.user_info_wrapper {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.user_name {
  margin: 0;
  font-size: $font-16;
  font-weight: 500;
  color: $primaryColor;
  text-align: left;
}

.user_email {
  margin: 0;
  font-size: $font-12;
  font-weight: normal;
  text-align: left;
  color: $secondaryColor;
  word-break: break-all;
}

.svg {
  fill: $primaryColor;
}
