$backgroundColor: #fafafa;
$accentColor: #0092ca;
$white: #ffffff;
$accentBackgroundcolor: rgba(#0092ca, 0.15);
$secondaryColor: #adadad;
$primaryColor: #4d4848;
$inputBorderColor: #6e828a;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
