$backgroundColor: #fafafa;
$accentColor: #00ca6d;
$white: #ffffff;
$accentBackgroundcolor: rgba($accentColor, 0.15);
$inputBorderColor: #adadad;
$primaryColor: #4d4848;
$secondaryColor: #6e828a;
$success: #12eb00;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
