@import "../../assets/scss/variables.scss";

.inputContainer {
  transition: all 0.3s;
}

.inputContainer:focus-within {
  transform: scale(1.05);
}

.labelName {
  font-size: $font-16;
  font-weight: 500;
  line-height: 1.5;
  color: $secondaryColor;
  text-align: left;
  transform: translateY(-2em);
  transform-origin: 0 0;
  transition: all 0.3s;
}

.formControl {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: $font-16;
  font-weight: 400;
  line-height: 1.5;
  color: $primaryColor;
  background-color: $white;
  border-color: $inputBorderColor;
  border-style: none none solid none;
  transition: all 0.5s ease-in-out;
}

.formControl::placeholder {
  font-size: $font-12;
  text-align: left;
  color: transparent;
}

.formControl:focus {
  outline: none;
  border-bottom: 1px solid $accentColor;
}

.formControl:focus + .labelName,
.formControl:not(:placeholder-shown) + .labelName {
  transform: translateY(-3.5em) scale(0.8);
}
//   .error {
//     display: block;
//     width: 100%;
//     padding: 10px 15px;
//     font-size: $font-14;
//     font-weight: 400;
//     line-height: 1.5;
//     color: $primaryColor;
//     background-color: $white;
//     background-clip: padding-box;
//     border: 0.5px solid $error;
//     border-radius: 8px;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   }

//   .error:focus {
//     outline: none;
//     border: 0.5px solid $linkColor;
//   }
