@import "../../assets/scss/variables.scss";

.formControl {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: $font-14;
  font-weight: 400;
  line-height: 1.5;
  color: $primaryColor;
  background-color: $white;
  background-clip: padding-box;
  border: 0.5px solid $inputBorderColor;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formControl::placeholder {
  font-size: $font-12;
  text-align: left;
  color: $secondaryColor;
}

//   .error::placeholder {
//     font-size: $font-12;
//     text-align: left;
//     color: $error;
//   }

.formControl:focus {
  outline: none;
  border: 0.5px solid $accentColor;
  box-shadow: 0 3px 10px 0 rgba(110, 130, 138, 0.2);
}

//   .error {
//     display: block;
//     width: 100%;
//     padding: 10px 15px;
//     font-size: $font-14;
//     font-weight: 400;
//     line-height: 1.5;
//     color: $primaryColor;
//     background-color: $white;
//     background-clip: padding-box;
//     border: 0.5px solid $error;
//     border-radius: 8px;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   }

//   .error:focus {
//     outline: none;
//     border: 0.5px solid $linkColor;
//   }
