@import "../../assets/scss/variables.scss";

.activeTab {
  padding: 15px 20px;
  background: $accentBackGroundColor;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.activeTab:hover {
  .showCross {
    display: block;
  }
}

.nonActiveTab {
  padding: 15px 20px;
  background: transparent;
  width: 100%;
  cursor: pointer;
}

.nonActiveTab:hover {
  background: $accentBackGroundColor;
  border-radius: 8px;
  .nonActiveTabText {
    font-size: $font-14;
    color: $accentColor;
    font-weight: 500;
  }
}

.activeTabText {
  font-size: $font-14;
  font-weight: 500;
  text-align: left;
  color: $accentColor;
}

.nonActiveTabText {
  font-size: $font-14;
  font-weight: normal;
  text-align: left;
  color: $secondaryColor;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.categoryTab {
  padding: 15px 20px;
  background: transparent;
  width: 100%;
  cursor: pointer;
}

.showCross {
  display: none;
}

.trendingTopics {
  font-size: $font-16;
  font-weight: 500;
  text-align: left;
  color: $secondaryColor;
}

.removeFilter {
  font-size: $font-12;
  font-weight: 500;
  text-align: left;
  color: $accentColor;
  cursor: pointer;
}
