@import "../../assets/scss/variables.scss";

.activeTab {
  padding: 15px 20px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.nonActiveTab {
  padding: 15px 20px;
  background: transparent;
  width: 100%;
  cursor: pointer;
}

.nonActiveTab:hover {
  background-color: $accentBackGroundColor;
  border-radius: 8px;
  transition: background-color 0.15s ease-in;
  .nonActiveTabText {
    font-size: $font-14;
    color: $accentColor;
    font-weight: 500;
    transition: color 0.15s ease-in;
  }
}

.activeTabText {
  font-size: $font-14;
  font-weight: 500;
  text-align: left;
  color: $accentColor;
}

.nonActiveTabText {
  font-size: $font-14;
  font-weight: normal;
  text-align: left;
  color: $secondaryColor;
}

.trendingTopics {
  font-size: $font-16;
  font-weight: 500;
  text-align: left;
  color: $secondaryColor;
}
