@import "../assets/scss/variables.scss";

.modal_overlay {
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
  animation: fade 0.3s ease-in-out;
}

.modal_container {
  position: relative;
  top: 40px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  animation: slide 0.3s ease-in-out;
}

.modal_header {
  height: 15%;
}

.modal_body {
  height: 55%;
  padding: 20px 30px;
}

.modal_footer {
  height: 30%;
  border-top: 1px solid #ddd;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    top: -400px;
  }
  to {
    top: 40px;
  }
}
