@import "../../../assets/scss/variables.scss";

.member_wrapper {
  min-height: calc(100vh - 72px);
  height: 100%;
  width: 100%;
  background: $backgroundColor;
}

.add_member {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add_svg {
  fill: $accentColor;
}

.add_member_icon {
  width: 100%;
  height: 40px;
  background: $white;
  border: 1px solid $accentColor;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add_member_icon:hover {
  box-shadow: $boxShadow;
  background-color: $accentColor;
  transition: background-color 0.3s;

  .add_svg {
    fill: $white;
    transition: fill 0.3s;
  }
}

.modal_instruction {
  margin: 0;
  font-family: $natoSans;
  font-size: $font-18;
  text-align: center;
  color: $primaryColor;
}

.modal_input_wrapper {
  width: 350px;
  margin: 0 auto;
}

.close_svg {
  padding: 7px;
  fill: $secondaryColor;
  cursor: pointer;
}

.close_svg:hover {
  fill: $error;
  transition: fill 0.3s;
}
