@import "../../assets/scss/variables.scss";

.background {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: $backgroundColor;
}

.form_list_wrapper {
  height: calc(100vh - 72px);
  padding: 30px 40px;
}
.header {
  font-family: $natoSans;
  font-size: $font-18;
  text-align: left;
  color: $primaryColor;
}
