@import "../../../../assets/scss/variables.scss";

.background {
  height: 100vh;
  background: $backgroundColor;
}

.writing_container {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}

.actions {
  width: 6vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action_back {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.action_back:hover {
  background-color: #ddd;
  transition: background-color 0.3s;
}

.header_wrapper {
  height: 10%;
  overflow: auto;
}

.header:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #999;
  font-size: 24px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.header:focus,
.bodyText:focus {
  outline: none;
  box-shadow: none;
}

.bodyText:empty::before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #999;
  font-size: 18px;
}

.bodyText {
  font-size: 18px;
  color: #333;
}

.button {
  background: none;
  border: 0;
}
