@import "../../assets/scss/variables.scss";

.toast_back {
  max-width: 400px;
  width: 100%;
  background-color: $white;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
  left: 0;
  padding-right: 10px;
  animation: slideIn 0.4s ease-in forwards;
}

.slide_out {
  animation: slideOut 0.4s ease-in forwards;
}

.toast_message_text {
  padding: 20px 15px;
  font-size: $font-14;
  font-weight: 500;
  text-align: left;
  color: $secondaryColor;
}

.close_icon {
  fill: $secondaryColor;
  cursor: pointer;
}

.close_icon:hover {
  fill: $error;
  transition: fill 0.3s;
}

@keyframes slideIn {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -500px;
  }
}
