@import "../../../../assets/scss/variables.scss";

.background {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: $backgroundColor;
}

.addDiscussionCard {
  margin: 0 auto;
  height: 100vh;
}

.editor {
  border-radius: 5px;
  height: 90%;
}
