@import "../../assets/scss/variables.scss";

.button {
  height: 40px;
  text-align: center;
  transition: box-shadow 0.2s ease-in;
}

.largeButton {
  width: 300px;
}
.mediumButton {
  width: 150px;
}

.btnText {
  font-size: $font-14;
  font-weight: 500;
}

.button:focus {
  outline: none;
}

.button:disabled {
  opacity: 0.5;
}

.button:disabled:hover {
  box-shadow: none;
}
