@import "../../assets/scss/variables.scss";

.btn {
  width: 100%;
  text-align: center;
  transition: box-shadow 0.2s ease-in;
}

.btnText {
  font-size: $font-14;
  font-weight: 500;
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:disabled:hover {
  box-shadow: none;
}

.btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 146, 202, 0.35);
}
