@import "../../assets/scss/variables.scss";
.background {
  height: 100vh;
  background: $backgroundColor;
}
.faceBookLoginButton {
  width: 100%;
  background: $accentColor;
  color: $white;
  border-radius: 8px;
  border: 0;
  font-size: $font-14;
  font-weight: 500;
}

.faceBookLoginButton:focus {
  outline: none;
}

.faceBookLoginButton:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 146, 202, 0.35);
}
